<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <!--                    TODO: add user id-->
                    <a class="nav-link active" th:href="@{'/posts/users/' + ${#authentication.getPrincipal().getId()}}">Your posts</a>
                </li>
                <li
                    class="nav-item"
                    sec:authorize="isAuthenticated()"
                >
                    <a class="nav-link active" th:href="@{/posts/create}">Create Post</a>
                </li>
                <li
                    class="nav-item"
                    sec:authorize="!isAuthenticated()"
                >
                    <a class="nav-link active" th:href="@{/login}">Login</a>
                </li>
                <li
                    class="nav-item"
                    sec:authorize="!isAuthenticated()"
                >
                    <a class="nav-link active" th:href="@{/register}">Register</a>
                </li>
                <li
                    class="nav-item"
                    sec:authorize="isAuthenticated()"
                >
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <span th:text="${#authentication.getPrincipal().getFirstName()}"></span>
                            <span th:text="${#authentication.getPrincipal().getLastName()}"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/logout}">Log out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto my-5">
            <h1 class="text-center mb-5">Blog posts</h1>
            <div
                class="card mb-4"
                th:each="blogPost: ${blogPosts}"
            >
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <span>Author:</span>
                        <b>
                            <span
                                th:text="${blogPost.firstName} + ' ' + ${blogPost.lastName}"
                            ></span>
                        </b>
                    </div>
                    <div>
                        <span th:text="${blogPost.formattedCreatedAt}"></span>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="card-title" th:text="${blogPost.title}"></h2>
                    <p class="card-text" th:text="${#strings.substring(blogPost.content, 0, 20)} + '...'"></p>
                    <a
                        sec:authorize="isAuthenticated()"
                        th:href="@{'/posts/' + ${blogPost.blogPostId}}"
                        class="btn btn-primary">
                        Read the post
                    </a>
                    <button
                        data-bs-toggle="modal"
                        data-bs-target="#infoModal"
                        sec:authorize="!isAuthenticated()"
                        class="btn btn-primary"
                    >
                        Read the post
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Info</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You have to be logged in to view the whole post!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary" th:href="@{/login}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


